 html{
 }
 
  body {
	padding-right: 50px;
	background-image: url("../images/WoodLeaves.jpg");
	background-repeat: repeat;
    background-attachment: fixed;
	background-position: center; 
  }
  
  p {
    color: brown; 
    font-family: Times New Roman, Arial;
    font-size: 1.5em;
	padding: 20px;
	background-color:khaki;
	border-radius: 25px;
  }

 
  h1, h2, h3 {
    color: wheat;
    font-family: Batang, Times New Roman;
    border-bottom: 2px;
    padding-top: 10px;
    padding-bottom: 10px;  
	padding-left: 20px; 
  }
  
  h1 {
    font-size: 4em;
  }
  
  h2{
  font-size: 3em;
  }
  
  h3{
	   font-size: 2.7em;
  }
  
  article {
	max-width: 760px;
	margin: 0 auto;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: saddlebrown;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:khaki;
    display: khaki;
    transition: 0.3s;
}

.sidenav a:hover {
    color: saddlebrown;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
	padding-left: 60px;
	padding-right: 60px;
}

.sidenav .menu{
	color: saddlebrown;
	font-size:30px;cursor:pointer
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 30px;}
  .sidenav a {font-size: 18px;}
}
  
  footer p {
    color: maroon;
    font-family: Batang, Times New Roman;
    font-size: 00,5em;
  }
  
  details p {
    color: maroon;
    font-family: Batang, Times New Roman;
    font-size: 00,5em;
  }
  
  .greenyellow{
	  
	  background-color: greenyellow;
  }

  p.leaves{
	color:wheat;
	background-image: url("../images/GreenLeaves.jpg");
	background-position: right;
  }
  
  ul{
	  font-style: Times New Roman, Arial;
	  padding: 20px;
	  color:wheat;
	  background-image: url("../images/GreenLeaves.jpg");
	  border-radius: 25px;
	  background-position: center;
  }
  
  p.pic{
	  padding: 20px;
	  color:wheat;
	  background-image: url("../images/GreenLeaves.jpg");
	  border-radius: 25px;
	  background-position: right;
  }

 p.img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }
 
 img{
	margin-right:0px;
	margin-left:0px;
	height:100%;
	width:100%;
	padding-right:0px;
 }*/
 
 div.polaroid {
	 font-size:2em;
	width: 80%;
	background-color: wheat;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

div.container {
	font-size:2.5em;
	text-align: center;
	padding: 10px 20px;
	height:80px;
	width:400px;
}

figure.polaroid {
    width: 80%;
	color:brown;
    background-color: white;
}

.half-transparent{
	opacity:0.5;
}

.clear {
	clear: both;
}

img.thumbnail {
	width:170px;
	height:170px;
}

.float-left {
	margin-right:15px;
	margin-bottom:15px;
    float: left;
}




  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  