
body {
	font-family:arial, times, sans-serif;
	background-color: beige;
	font-size:16px;
	color:darkbrown;
}

h1{
	font-family:arial, times, sans-serif;
	font-size:30px;
	color:chocolate ;
}

h2{
	font-family:arial, times, sans-serif;
	font-size:20px;
	color:crimson;
}

h3{
	font-family:arial, times, sans-serif;
	font-size:10px;
	color:darkorchid;
}

p.seagreenframe{
	font-size: 10pt;
	border: solid seagreen;
}

p.lightgreenframe{
	line-height: pc;
	border: solid seagreen;
}

p.greenframe{
    font-size: 5mm;
    border: 1px solid green;
}

p.brownframe{
    font-size: 15px;
    border: 1px solid green;
}

p.pinkframe{
	line-height: 1i;
	border: 1px solid pink;
}

p.orangeframe{
	font-size: 150%;
    border: 1px solid orange;
}

p.grayframe{
	font-size:2.5ex;
	border:solid gray;
}

.purpleframe{
	font-size:0,5cm;
	border:solid purple;
}

.blueframe{
	font-size:0,5i;
	border:solid blue;
}

.red{
	font-family: Verdana, Times;
	font-size: 0,5em.
	font-size-adjust: 0.58;
	color:red
}

.italic{
font-style: italic;
}

.oblique{
	font-style:oblique;
}

.small-caps{
	font-variant: small-caps;
}

.bold{
	font-weight:bold;
}

.thickest{
	font-weight: 900;
}

.thinnest{
	font-weight: 100;
}

table > caption {
	color: darkbrown;
}

tr:nth-child(odd){
	background-color:coral;
}

tr:nth-child(even){
	background-color:orange;
}

.medium{
	font-size:medium;
}
.small{
	font-size:small;
	
}
.xx-small{
	font-size:xx-small;
}

.x-small{
	font-size:x-small;
}

.large{
	font-size:large;
}

.x-large{
	font-size:x-large;
}

.xx-large{
	xx-large;
}

.smaller{
	font-size:smaller;
}

.larger{
	font-size:larger;
}

.50%{
	font-size:50%;
}

.25em{
	font-size:25em;
}

.inherited{
	font-size:inherited;
}

.initial{
	font-size:initial;
}

.letterspaced{
	letter-spacing: 10px;
}

.wordspaced{
	word-spacing: 100px;
}
.height{
	line-height: 2;
}

.left{
	text-align:left;
}

.right{
	text-align:right;
}

.centered{
	text-align:center;
}
.justified{
	text-align:justified;
}

.underlined{
	text-decoration:underline;
}

.overlined{
	text-decoration:overline;
}

.underlinedoverlined{
	text-decoration:underline overline;
}

.line-through{
	text-decoration:line-through;
}

.shadowed{
	color:crimson;
	text-shadow: 2px 2px pink;
}

.indented{
	text-indent: 500px;
}

.uppercase{
	text-transform:uppercase;
}

.lowercase{
	text-transform:lowercase;
}

.capitalized{
	text-transform:capitalize;
	color:crimson;
}

.no-wrap{
	white-space:no-wrap;
}

.normal{
	white-space:normal;
}

.pre{
	white-space:pre;
}

p.firstline:first-line {
	color:crimson;
    background-color: pink;
}

p.firstletter:first-letter{
	text-transform:capitalize;
	color: purple;
	background-color:pink;
}

ul.ls{
	list-style: square inside url("sqpurple.gif");
}

ul.lsi{'
	list-style-image: square inside url("sqpurple.gif");
}

ul.lsp-o {
    list-style-position: outside;
}

ul.lsp-i {
    list-style-position: inside;
}

ul.lst-s {
	list-style-type: square;
	}
	
ul.lst-c {
	list-style-type: circle;
}

ol.lst-u {
	list-style-type: upper-roman;
	}
	
ol.lst-l {
	list-style-type: lower-alpha;
}

li:nth-child(1){
	color:coral;
}

li:nth-child(2){
	color:deeppink;
}

li:nth-child(3){
	color:crimson;
}




