
body {
	font-family:arial;
	background-color: beige;
	font-size:16px;
	color: #654321;
}

h1{
	font-family:arial;
	font-size:30px;
	color:seagreen;
}

h2{
	font-family:arial;
	font-size:20px;
	color:springgreen;
}

h3{
	font-family:arial;
	font-size:10px;
	color:green;
}

p.seagreenframe{
	font-size: 10pt;
	border: solid seagreen;
}

p.lightgreenframe{
	line-height: 1pc;
	border: solid seagreen;
}

p.greenframe{
    font-size: 5mm;
    border: 1px solid green;
}

p.brownframe{
    font-size: 15px;
    border: 1px solid green;
}

p.pinkframe{
	line-height: 2em;
	border: 1px solid pink;
}

p.orangeframe{
	font-size: 150%;
    border: 1px solid orange;
}

p.grayframe{
	font-size:2.5ex;
	border:solid gray;
}

.purpleframe{
	font-size:0,5cm;
	border:solid purple;
}

.blueframe{
	font-size:0,5cm;
	border:solid blue;
}

span {
    font-size: 0.5em;
}