/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	background-image: url("../images/GreenLeaves.jpg");
	background-position: center;
	background-repeat: no-repeat;
}
 
  body {
	margin: 90px;
    background-color:cornsilk;
	padding: 10px;
  }
  
    #logo {
      font-family: Batang;
      font-size: 2em;
      color: maroon;
      font-style: italic;
      text-align: center;
      margin-bottom: 30px;
      background-color:aquamarine;
      border-radius: 0 0 10px 10px;
      padding: 10px;
  }
  
  p {
    background-color:khaki;
    color: maroon;
    font-family: Arial, "Palatino Linotype", Times, serif;
    font-size: 1em;
	padding:50px;
  }
  
  h1, h2, h3 {
    background-color: aquamarine;
    color: maroon;
    font-family: Batang;
    border-bottom: 2px solid aquamarine;
    padding-top: 10px;
    padding-bottom: 5px;  
  }
  
  h1 {
    font-size: 2em;
  }
 
  .note {
    font-family: Batang;
    color:maroon;
    border: 2px solid khaki;
    background-color:lightgreen;
    margin-top: 25px;
    margin-bottom: 35px;
    padding: 20px;
  }
  
  .note strong {
	color: maroon;
  }
  
  article {
	max-width: 760px;
	margin: 0 auto;
  }

  h1+p {
      background-color:khaki;
      color: maroon;
      font-family: Batang;
      font-size: 1.2em;
      line-height: 140%;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: saddlebrown;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:khaki;
    display: khaki;
    transition: 0.3s;
}

.sidenav a:hover {
    color: saddlebrown;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
	padding-left: 60px;
	padding-right: 60px;
}

.sidenav .menu{
	color: saddlebrown;
	font-size:30px;cursor:pointer
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 30px;}
  .sidenav a {font-size: 18px;}
}
  
  footer > p {
    background-color:darkturquoise;
    color: maroon;
    font-family: Batang;
    font-size: 1.0em;
	padding: 0;
  }
  
  details > p {
    background-color:darkturquoise;
    color: maroon;
    font-family: Batang;
    font-size: 1.0em;
	padding: 0;
  }
  
input[type="text"] {
	font-family: Times;
	font-size: 1.0em;
	color: dark brown;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}

/* end reset browser styles */

body {
	width: 760px;
	margin: 0 auto;	
	background-color: lightskyblue;
	color: maroon
}

h1 {
	font-size: 2em;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	border-bottom: dotted 2px rgba(255,255,255,.5);
	padding-bottom: 4px;	
	margin: 25px 0;
}

p {
	margin-bottom: 25px;	
}

/* add form styles here */
.subform {
  font-size: 1.2em;
  color: white;
  font-family:Tahoma, Geneva, sans-serif;
}
.subform .label {
 display: inline-block;
 width: 200px;
 vertical-align: top;
 text-align: right;
 margin-right: 10px;
 font-weight: bold;
 color: rgba(255,255,255,.5);
}
.subform input[type="submit"]  {
  margin-left: 220px;
  padding: 10px 25px;
  font-size: 1em;
  color: white;
  background: rgb(0,102,153);
  background: linear-gradient(to bottom, rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
  border-radius: 5px;
  box-shadow: 0 0 4px white;
}
.subform select {
  font-size: 1.2em;
}
.subform input[type="text"], .subform textarea {
  border-radius: 5px;
  border: none;
  background-color: rgba(255,255,255,.5);
  color: rgba(255,255,255,1);
  font-size: 1.2em;
  box-shadow: inset 0 0 10px rgba(255,255,255,.75);
  width: 500px;
  padding: 5px;
}
.subform input[type="text"]:focus, .subform textarea:focus {
  background-color: white;
  color: black;
}




