 
html {
	background-image: url("../images/Wood.jpg");
	background-repeat: repeat;
}

 
  body {
	margin: 90px;
    background-color:mediumspringgreen;
	padding: 10px;
  }
 
  p {
    background-color:mediumspringgreen;
    color: #654321;
    font-family: Times New Roman, Arial;
    font-size: 1.2em;
	padding:20px;
	padding-left: 50px;
	padding-right: 50px;
	margin-right:50px;
  }
  
  h1, h2, h3 {
    background-color: mediumspringgreen;
    color: maroon;
    font-family: Batang, Times New Roman;
   	padding:20px;
	padding-left: 50px;
	padding-right: 50px;
  }
  
  h1 {
    font-size: 3em;
  }
  
    h2{
  font-size: 2.2em;
  }
  
  h3{
	   font-size: 1.5em;
  }
 
  .note {
    font-family: Batang, Times New Roman;
    color:maroon;
    border: 2px solid mediumspringgreen;
    background-color:lightgreen;
    margin-top: 25px;
    margin-bottom: 35px;
    padding: 20px;
  }
  
  .note strong {
	color: maroon;
  }
  
  article {
	max-width: 760px;
	margin: 0 auto;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: springgreen;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:khaki;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: saddlebrown;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
	padding-left: 60px;
	padding-right: 60px;
}

.sidenav .menu{
	color: saddlebrown;
	font-size:30px;cursor:pointer
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 30px;}
  .sidenav a {font-size: 18px;}
}
  
  footer p {
    background-color:mediumspringgreen;
    color: maroon;
    font-family: Batang;
    font-size: 0.5em;
  }
  
  details p {
    background-color:mediumspringgreen;
    color: maroon;
    font-family: Batang;
    font-size: 0.5em;
  }
  
  table {
    border-collapse: separate;
	padding:20px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 50px;
	margin-right:50px;
} 

td {
    border: 1px solid black;
}

th{
	background-color: mediumspringgreen;
}

table.autowidth {
    table-layout: auto;
    width: 180px;    
	 caption-side: bottom;
}

table.fixedwidth {
	border-collapse: collapse;
    table-layout: fixed;
    width: 180px;    
	border-spacing: 15px;
	 caption-side: bottom;
}

table.auto {
    table-layout: auto;
    width: 80%;  
	 caption-side: bottom;
}

table.fixed {
    table-layout: fixed;
    width: 80%;    
	border-spacing: 15px;	
	empty-cells: hide;
}

tr:nth-child(odd){
	background-color:coral;
}

tr:nth-child(even){
	background-color:lightcoral;
}

table > caption {
	color: #654321;
}

input{
	font-family: Times New Roman, Arial;
    font-size: 1em;
	width: 50%;
	height: 100%;
	background-color: cornsilk;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]{
	color: #654321;
    
}

input[type=password] {
	color:lightgreen;
}

input[type=number]{
	color:red;
}

textarea {
    width: 100%;
    height: 150px;
	font-size: 16px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid brown;
    border-radius: 4px;
    background-color: cornsilk;
    resize: none;
}



